ASPNETCORE_ENVIRONMENT=Production
APP_PORT=5080
GTA_IMAGE_TAG=release
MYSQL_DATABASE=team2_wp
MYSQL_USER=team2app
MYSQL_PASSWORD=SET_ON_SERVER
MYSQL_ROOT_PASSWORD=SET_ON_SERVER
Database__ApplyMigrations=true
DocumentStorage__RootPath=/var/lib/gta-application/documents
DocumentStorage__MaximumBytes=10485760
EMAIL_FROM_ADDRESS=SET_ON_SERVER
